{% extends 'padre.html' %}


{% block cont_cambia_1 %}
<h1 class="text-white font-weight-bold">El lugar para proponer a nuevos artistas para ser parte de nuestra organización</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Ya nos conoces, propone al artista que creas que merece participar</p>
                        <a class="btn btn-primary btn-xl" href="#about">Requisitos</a>
{% endblock %}


{% block cont_cambia_2 %}
<div class="col-lg-8 text-center">
    <h2 class="text-white mt-0">Listado de Requisitos mínimos</h2>
    <hr class="divider divider-light" />
    <p class="text-white-75 mb-4">Queremos incluir a la mayor cantidad posible de artistas, solo tienen que tener un portfolio, y muchas ganas de participar en una de nuestras muestras</p>
    
</div>
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">A trabajar para dar a conocer a tu artista preferido!</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">Envía los datos del artista que te parece que merece participar y nos pondremos en contacto a la brevedad!</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form method="POST" id="contactForm">{% csrf_token %}
                    <!-- Django form rendering -->
                    {{ mi_form.as_p }}
                    
                    <!-- Submit Button-->
                    <div class="d-grid">
                        <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <i class="bi-phone fs-2 mb-3 text-muted"></i>
                <div>+1 (555) 123-4567</div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block cont_cambia_3 %}

{% endblock %}