{% extends 'padre.html' %}
{% block cont_cambia_1 %}
<h1 class="text-white font-weight-bold">El lugar para tener la información al día sobre nuestras muestras</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Empieza a tener toda la información necesaria!</p>
                        <a class="btn btn-primary btn-xl" href="#about">Acerca de nosotros</a>
{% endblock %}
{% block cont_cambia_2 %}
<div class="col-lg-8 text-center">
    <h2 class="text-white mt-0">Lorem Ipsum</h2>
    <hr class="divider divider-light" />
    <p class="text-white-75 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim, tellus ac rhoncus tincidunt, sem nunc suscipit risus, a egestas est nibh vel erat. Duis justo lectus, ultrices eu sapien a, rutrum laoreet eros. Vivamus fringilla orci vel arcu placerat ultricies. Quisque imperdiet leo a sem dignissim, eget tincidunt nisi tempor. Phasellus id aliquam lorem. Fusce eu efficitur dolor. Duis ac cursus purus. Nam sed iaculis dolor, eu finibus lectus.</p>
    <a class="btn btn-light btn-xl" href="Login.html">Log in</a>
   
</div>
{% endblock %}

{% block cont_cambia_3 %}

{% endblock %}