<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Obras</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Lista de Obras</h1>
    </header>
    <main>
        <ul>
            {% for obra in obras %}
                <li>{{ obra.nombre }} - {{ obra.autor }}</li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>&copy; 2023 Artista</p>
    </footer>
</body>
</html>